<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <appSettings>
        <!--执行分红的时间,可以是现在或过往的任何一天，只写时间没有日期就表示当天-->
        <add key="RefundDate" value="2018-09-19 21:00:00" />          
        <!--基准浮动利率-->
        <add key="FloatRate" value="0" />
        <!--基准分红利率-->
        <add key="BaseRefundRate" value="0.1" />
        <!--浮动利率归一化最大值-->
        <add key="FloatRateMAX" value="100" />
        <!--浮动利率归一化最小值-->
        <add key="FloatRateMIN" value="0" />
        <!--分红利率最大值-->
        <add key="RefundRateMAX" value="0.8" />
        <!--分红利率最小值-->
        <add key="RefundRateMIN" value="0.1" />
        <!--当天分红分两个部分,A 给所有持币用户-->
        <add key="RefundPartARate" value="0.6" />
        <!--当天分红分两个部分,B 给昨日交易用户额外分红-->
        <add key="RefundPartBRate" value="0.4" />
        <!--项目方收入ETH的账号-->
        <add key="MITAccount" value="0x75a83599de596cbc91a1821ffa618c40e22ac8ca" />
        <!--项目方发送ETH的账号-->
        <add key="MITFromAccount" value="0x75a83599de596cbc91a1821ffa618c40e22ac8ca" />
    

   <!--以下内容仅仅用来测试-->
      
       <!--执行分红的时间连续执行几天-->
        <add key="RefundDateRange" value="0" />       
        <!--执行昨天获利的ETH总数-->
        <add key="YesterdayTotalProfit" value="200.91888557" />
        <!--执行前天获利的ETH总数-->
        <add key="TheDayBeforeYesterdayTotalProfit" value="100" />
        <!--获取所有用户的全部交易记录-->
        <add key="UserTransactionRecords" value="\data\Test100\" />
        <!--获取所有用户的全部交易记录,未使用-->
        <add key="UserHistoryTransactionRecords" value="\data\Test100\HistoryTradeRecords.txt" />
        <!--获取用户交易记录的路径,每一个文件就代表一个用户的所有交易记录,未使用-->
        <add key="UserTransactionRecordsPath" value="\data\Test100" />
    
    </appSettings>
</configuration>